@page "/auth"

@using B8Auth1.Components.Account
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using B8Auth1.Data

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!    
    <br>
    <br>
    <p>
    Claims:
    <br>
    User Id: @userid        
    <br>
    Premium User: @premiumUser
    </p>
    
</AuthorizeView>

@code {
    private ApplicationUser user = default!;
    private string? userid;
    private bool premiumUser = false;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
     protected override async Task OnInitializedAsync()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        userid = await UserManager.GetUserIdAsync(user);
        premiumUser = user.IsPremium;

    }



}
